.mainDiv {
    position: absolute;

    width: 100%;
    margin-top: 48px;
}

.subscribeDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;

    /*background-color: rgb(128,157,253);*/
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;

    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -ms-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.subscribeDiv:hover {
    /*background-color: rgb(87,113,201);*/
    background-color: rgba(0,0,0,0.5);
    transition: 0.4s;
}

.subscribeText {
    color: white;
    text-decoration: none;
}

table {
    position: absolute;
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

th {
    height: 60px;
}

tr {
    height: 50px;
    text-align: center;
}

tbody tr {
    cursor: pointer;
}

td:first-child {
    width: 10%;
    background-color: white;
}

td:nth-child(2) {
    width: 15%;
}

td:nth-child(3) {
    width: 25%;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

tbody:nth-child(even) {
    background-color: #f7f7f7;
}

@media screen and (max-width: 700px) {
    table {
        font-size: 13px;
    }
}

@media screen and (max-width: 420px) {
    table {
        font-size: 10px;
    }
}
